.container-agregar-buscador {
    gap: 20px;
}

.buscador-input {
    height: 100%;
    border-radius: var(--bs-border-radius);
    background-color: #22546D;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
}

.buscador-input::placeholder {
    color: white;
}

.container-clientes {
    background-color: #337CA0;
    border-radius: 25px;
    overflow-x: hidden;
    overflow-y: auto;
}

.col-clientes:first-child .card {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-clientes {
    --bs-card-border-radius: 0;
}

.fa-user-card {
    color: #22546D;
    font-size: 60px;
}

.fa-solid {
    color: #22546D;
    cursor: pointer;
}

.fa-solid:hover {
    color: #337CA0;
}

.btn-agregar-cliente,
.dropdown-toggle,
.dropdown-menu-categoria {
    width: 200px;
    background-color: #22546D;
}

.btn-agregar-cliente:hover,
.dropdown-toggle:hover {
    background-color: #337CA0;
}

.dropdown-toggle:focus {
    background-color: #22546D;
}

.listado-categorias a.dropdown-item:hover {
    cursor: pointer;
    background-color: #337CA0;
}

@media (max-width: 480px) {
    .container-agregar-buscador {
        flex-direction: column;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fa-user {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .container-agregar-buscador {
        flex-direction: column;
        justify-content: center;
    }

    .btn-agregar-cliente, .dropdown-toggle, .buscador-input {
        width: 100%;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fa-user {
        margin-top: 10px;
    }
}