.container-clientes {
    background-color: #337CA0;
    border-radius: 25px;
    overflow-x: hidden;
    overflow-y: auto;
}

.col-clientes:first-child .card {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-clientes {
    --bs-card-border-radius: 0;
}

.fa-user-card {
    color: #22546D;
    font-size: 60px;
}

.fa-solid {
    color: #22546D;
}

.fa-solid:hover {
    color: #337CA0;
}

.btn-agregar-cliente {
    width: 200px;
    background-color: #22546D;
}

.btn-agregar-cliente:hover {
    background-color: #337CA0;
}