.navbar,
.offcanvas {
    background-color: #337CA0;
}

.navbar-brand {
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 25px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-close {
    filter: invert(1);
}

.btn-close:focus,
.btn-close:hover {
    filter: invert(1) brightness(0.85);
}