.tabla-pagos-cliente th {
    background-color: #22546D;
    text-align: center;
    padding: 8px;
}

.tabla-pagos-cliente td {
    background-color: #2C6C8C;
    text-align: center;
    padding: 8px;
}